@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 4px 4px;
}

#workspaces {
    background-color: alpha(@surface0, 0.7);
    border-radius: 0.5rem;
    margin: 4px 0 4px 1rem;
    padding: 0 0.2rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 0.5rem;
    padding: 0.2rem 0.6rem;
}

#workspaces button.active {
    color: @sky;
}

#workspaces button:hover {
    color: @sapphire;
}

#window {
    background-color: alpha(@surface0, 0.7);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    color: @lavender;
    margin: 4px 0;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#pulseaudio,
#network,
#memory,
#battery,
#clock {
    background-color: alpha(@surface0, 0.7);
    padding: 0.3rem 0.8rem;
    margin: 4px 0;
}

#pulseaudio {
    background-color: alpha(@surface0, 0.7);
    color: @lavender;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-left: 1rem;
}

#network {
    background-color: alpha(@surface0, 0.7);
    color: @blue;
    border-radius: 0;
}

#memory {
    background-color: alpha(@surface0, 0.7);
    color: @sapphire;
    border-radius: 0;
}

#battery {
    background-color: alpha(@surface0, 0.7);
    color: @green;
    border-radius: 0;
}

#clock {
    color: @text;
    border-radius: 0 0.5rem 0.5rem 0;
    margin-right: 1rem;
}
